@import url("reset.css");

body {
    background: #0D0D11;
    font-family: "Poppins";
    font-weight: 300;
    color: #ffffff;
}
.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: clip;
}
[class*="__container"]{
    max-width: 1310px;
    margin: 0 auto;
    padding: 0px 15px;
}
.admin__container{
    margin-top: 150px;
}
.page {
    flex: 1 1 auto;
}
.button {
    display: inline-block;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 1.45; /* 22/16 */
    padding: 16px 30px;
    color: #FFFFFF;
    background-color: #3D96F4;
    border-radius: 50px;
    transition: 0.5s;
    box-shadow: 0 0 15px rgb(0,140,255);
    transition-property: box-shadow;
}
.button-dark {
    display: inline-block;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 1.45; /* 22/16 */
    padding: 16px 30px;
    color: #FFFFFF;
    background: rgba(129, 129, 139, 0.188);
    border-radius: 50px;
    transition: background-color 0.2s ease 0s;
}
.button-dark:hover {
    background: rgba(129, 129, 139, 0.4);
}
.button:hover {
    background-color: #6daff5;
    box-shadow: 0 0 10px rgb(0,140,255),
    0 0 20px rgb(0,140,255),
    0 0 10px rgb(0,140,255),
    0 0 30px rgb(0,140,255);
}
.header {
    position: fixed;
    height: 116px;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #00000061;
    z-index: 5;
}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 116px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.header__logo {

}
.header__menu {
    flex: 1 1 auto;
}
.menu__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 25px;
    row-gap: 3px;
    justify-content: flex-end;
}
.menu__item {

}
/* === removing default button style ===*/
.menu__button {
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
    text-align: center;
}
  
  /* button styling */
.menu__button {
    --border-right: 6px;
    --text-stroke-color: rgba(255,255,255,0.6);
    --animation-color: #37FF8B;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: 18px;
    font-family: "Arial";
    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
}
  /* this is the text, when you hover on button */
  .hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
}
/* hover */
.menu__button:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--animation-color))
}
.menu__link {
    display: block;
    font-size: 18px;
    color: #FFFFFF;
    line-height: 1.62; /* 26/16 */
}
.menu__link:hover {
    --animation-color: #ffffff;
    /* text-decoration: underline; */
    color: #3D96F4;
    filter: drop-shadow(0 0 43px var(--animation-color))
}
.cart-header {
    display: flex;
    gap: 5px;
    align-items: center;
    color: #FFFFFF;
}
.cart-header:hover .cart-header__text {
    text-decoration: underline;
}
.cart-header__text {
    font-size: 18px;
    line-height: 1.55; /* 28/18 */
    text-decoration: none;
}
.cart-header__quantity {
    background: url("../img/cart.svg") center / 15px no-repeat;
    background: #5398e2d5;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
}
.header__button {
    flex: 0 0 auto;
}
.header__language{
    font-size: 18px;
    line-height: 1.55; /* 28/18 */
    text-decoration: none;
}
.header__login img{
    height: 45px;
    align-items: center;
}
.icon-menu {
    display: none;
}
.header__logo,
.header__cart,
.header__button {
    position: relative;
    z-index: 5;
}
/* Dropdown Button */
.dropbtn {
    color: white;
    font-size: 22px;
    border: none;
}
/* The container <div> - needed to position the dropdown content */
.dropdown__account{
    width: 100%;
    display: flex;
    gap: 7px;
}
.account-img {
    width: 40px;
}
.dropdown {
    display: flex;
    gap: 50px;
    align-items: center;
}
  
  /* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    top: 40px;
    right: 20;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 111;
}
  
/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    background-color: #fdfdfd;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown__exit{
    font-size: 22px;
}
.dropdown__exit:hover{
    color: rgb(197, 198, 201);
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}
  
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}
  
/* Change the background color of the dropdown button when the dropdown content is shown */
.account{
    display: block;
    font-size: 18px;
    text-decoration: none;
    color: #ffffff;
    padding: 22px;
}
.account:hover {

    transition: 0.5s;
    color:#fff;
}
.log-account{
    position: absolute;
    top: 89px;
    right: 119px;
    width: 150px;
    display: block;
    z-index: 111;
}
.account:hover .log-account{
    display: block;
}
.log-account li {
    display: flex;
    width: 100%;
}
.log-account li a {
    width: 100%;
    padding: 15px 20px;
    background: white;
    color: #f3f3f3;
}
.main {
    padding-top: 160px;
    padding-bottom: 100px;
}
.main__container {
    display: flex;
    gap: 32px;
}
.main__content {
    flex: 0 1 50%;
    gap: 32px;
    align-self: center;
}
.header-main__label {
    display: inline-block;
    border: 1px solid rgba(129, 129, 139, 0.2);
    border-radius: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #9C9C9C;
    padding: 11px 18px;
    transition: border 0.3s ease 0s;
}
.header-main__label:hover {
    border: 1px solid rgba(129, 129, 139, 0.4);
}
.header-main__label:not(:last-child){
    margin-bottom: 19px;
}
.header-main__title {
    max-width: 520px;
    font-weight: 500;
    font-size: 51px;
    line-height: 1.19; /* 61/51 */
    color: #fff;
}
.header-main__title:not(:last-child){
    margin-bottom: 28px;
}
.header-main__text {
    /* max-width: 500px; */
    /* max-width: 100%; */
    font-size: 18px;
    line-height: 1.5; /* 24/16 */
    color: #ffffff;
}
.header-main__text:not(:last-child){
    margin-bottom: 33px;
}
.header-main__body {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.header-main__body .header-main__text {
    margin: 0;
}
.header-main__body .header-main__actions {
    align-self: flex-end;
    flex: 0 0 auto;
}
.header-main__actions {
    align-self: flex-end;
    column-gap: 32px;
    row-gap: 15px;
}
.main__text {
    color: #9C9C9C;
}
.text {
    color: #81818b;
    line-height: 1.5; /* 24/16 */
}
.header-main__actions {
    display: flex;
    column-gap: 32px;
    row-gap: 15px;
}
.header-main__list li:not(:last-child){
   margin-bottom: 16px;
}
.header-main__list li{
    position: relative;
    min-height: 32px;
    padding-left: 40px;
    line-height: 1.5; /* 24px/16 */
    padding-top: 4px;
    color: #9C9C9C;
}
.header-main__list li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    background: rgba(129, 129, 139, 0.1) url('../img/why/done.svg') center no-repeat;
}
.main__images {
    flex: 0 1 50%;
}
.images-main {
   display: flex;
   gap: 9.935897%; /* 62/624 */
   justify-content: center;
}
.images-main__item img {
    max-width: 100%;
    border-radius: 50%;
}
/* ==============================FOOTER================================================ */
.footer {
}
.footer__main {
    padding-top: 160px;
    padding-bottom: 160px;
}
.main-footer {
    
}
.main-footer__container {
    display: grid;
    gap: 64px;
    grid-template-columns: minmax(auto, 378px) auto auto minmax(auto, 378px);
}
.main-footer__container:not(:last-child) {
    gap: 0px;
}
.main-footer__column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.main-footer__logo {
}
.text {
}
.main-footer__social {
}
.social {
    display: flex;
    gap: 16px;
}
.social__link {
    flex: 0 0 36px;
    height: 36px;
    border: 1px solid rgba(129, 129, 139, 0.9);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border 0.3s ease 0s;
}
.social__link:hover {
   border: 1px solid rgba(255, 255, 255, 1);;

}
.main-footer__label {
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    line-height: 1.2; /* 24/20 */
}
.main-footer__label:not(:last-child) {
   margin-bottom: 30px;
}
.main-footer__menu {
}
.menu-footer {
}
.menu-footer__list {
    display: grid;
    gap: 24px;
}
.menu-footer__item {
}
.menu-footer__link {
    line-height: 1.4;
    color: #9C9C9C;;
}
.menu-footer__link:hover {
    color: #fff;
}
.main-footer__login {
}
.login {
    display: flex;
    flex-direction:column;
    gap: 16px;
}
.login__div {
    display: flex;
    flex-direction: column;
    gap: 13px;
}
.login__text {
}
.login__form {
}
.login__button {
}
.login__input {
    width: 100%;
    height: 52px;
    border: 1px solid rgba(129, 129, 139, 0.3);
    border-radius: 10px;
    padding: 0 30px;
    color: #fff;
    background-color: transparent;
}
.login__input::placeholder {
    color: #999999;
}
.login__textarea {
    width: 100%;
    height: 102px;
    border: 1px solid rgba(129, 129, 139, 0.3);
    border-radius: 10px;
    padding: 15px 30px;
    color: #fff;
    background-color: transparent;
}
.button {
}
.footer__bottom {
}
.bottom-footer {
    border-top: 1px solid rgba(129, 129, 139, 0.2);
    padding-top: 45px;
    padding-bottom: 45px;
}
.bottom-footer__container {
}
.bottom-footer__copy {
    text-align: center;
    color: #9C9C9C;
}
.login__input{
  
}
/*FORMS*/
.reg__form {
    margin-top: 150px;
}
.reg__form h2{
    font-size: 26px;
    text-align: center;
    margin: 30px 0;
}
.reg__form label {
    font-size: 18px;
}
.reg__form input{
    height: 3.3rem;
}
.reg__form a {
    font-size: 18px;
    padding: 20px 40px;
    transition: all .3s;
    color: #ffffff;
    text-decoration: underline;
}
.log__actions {
    display: flex;
    align-items: center;
    gap: 75px;
}
.reg__actions {
    display: flex;
    align-items: center;
    gap: 80px;
}
.mb-3 .header-main__button {
    font-size: 16px;
    padding: 20px 40px;
}
.reg__form a:hover {
    margin-left: 5px;
    transition: all .3s;
}
.form-text {
    color: #0fbdd1;
}
.msg .err__text{
    color: red;
}
.msg .successful__text{
    color: rgb(0, 255, 0);
}
.button-log {
   
}
/*
    SINGLE_POST
 */
 .single_post{
    margin-bottom: 30px;
}
.single_post .info{
    margin: 20px 0;
}
.single_post .info i{
    display: inline-block;
    margin-right: 20px;
}
.single_post a{
    text-decoration: underline;
}
.single_post a:hover{
    text-decoration: none;
    color: #008489;
}
/*
FORMS
 */
.reg_form h2{
    text-align: center;
    margin: 30px 0;
}
.reg_form input{
    height: 3.3rem;
}
.reg_form a {
    font-size: 1.2em;
    transition: all .3s;
    color: #5c5b5b;
    text-decoration: underline;
    margin-left: 60px;
}

.reg_form a:hover {
    margin-left: 55px;
    transition: all .3s;
}

/*
FORMS
 */

form div.err p {
    color: red;
    font-style: italic;
    font-size: 0.8rem;
}
textarea{
    font-size: 45px;
}
/*
SIDEBAR
 */

.sidebar{
    margin: 1rem 0;
    background: #04aae6;
    min-height: 600px;
}

.sidebar ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    color: #ffffff;
}

.sidebar ul a{
    padding: 18px;
    display: block;
    border-bottom: 1px solid #fff;
}

.sidebar ul a:hover{
    padding-left: 10px;
    transition: all 0.3s;
    color: #d3d3d3;
    text-decoration: none;
}

.posts{
    height: 100%;
    padding: 40px 100px 100px;
}

.posts h2{
    text-align: center;
    margin: 2rem 0 0 0.4rem;
}

.posts .title-table div{
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #d3d3d3;
    font-weight: 700;
}

.posts .post div{
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #d3d3d3;
}
.posts .post .red{
    color: #006669;
}
.posts .post .del{
    color: red;
}
.posts .post .id{
    font-weight: bold;
}

/*.add-post form div{*/
/*    margin: 2rem 0;*/
/*}*/

/*
error msg
 */
.add-post .err{
    padding: 1rem 0;
    color: #A52A2A;
}
.add-post .err ul{
    list-style-type: none;
    color: #A52A2A;
    padding-left: 10px;
    font-weight: 500;
}
@media (max-width: 1110px){
    .header__container,
    .menu__list {
        column-gap: 20px;
    }
}
@media (max-width: 1040px){
    .dropbtn {
        display: none;
    }
}
@media (max-width: 1100px){
    .services__container {
        flex-direction: column;
    }
    .services__header .header-main__title,
    .services__header .header-main__text {
        max-width: none;
    }
    .testimonials__items {
        grid-template-columns: auto;
    }
    .main-footer__container {
        gap: 45px;
        grid-template-columns: minmax(auto, 378px) auto auto;
    }
    .main-footer__column:nth-child(1) {
        grid-column: span 3;
    }
}
@media (max-width: 991.98px){
    .header__button {
        padding: 14px 20px;
    }
}

@media (max-width: 991.98px){
    .header__container,
    .menu__list {
        column-gap: 15px;
    }
    .menu__link {
        font-size: 18px;
    }
    .header {
        min-height: 90px;
    }
    .header__container {
        height: 90px;
    }
    .main {
        padding-top: 120px;
        padding-bottom: 60px;
    }
    .header-main__title {
        font-size: 44px;
    }
    .services {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .why {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .advantages{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .advantages__container {
        flex-direction: column;
    }
    .advantages__image {
        align-self:center; 
    }
    .advantages__items {
        padding-right: 0;
    }
    .testimonials {
        padding-top: 50px;
        padding-bottom: 100px;
    }
    .testimonials__header {
        margin-bottom: 40px;
    }
    .start__body {
        flex-direction: column;
        row-gap: 30px;
        align-items: stretch;
    }
    .page__start {
        margin-bottom: 50px;
    }
    .footer__main {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}
@media (max-width: 978px){
    .header-main__actions {
        column-gap: 22px;
        row-gap: 15px;
    }
    .header-main__button {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 1.15; /* 22/16 */
    padding: 20px 20px;
    }
}
@media (max-width: 812px){
    .header-main__actions {
        column-gap: 10px;
    }
    .header-main__button {
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 1px;
        line-height: 1.15; /* 22/16 */
        padding: 20px 15px;
        }
}
@media (max-width: 903px){
    .header__logo {
        width: 52px;
        overflow: hidden;
    }
}
@media (max-width: 799px){
    .menu__list {
        column-gap: 15px;
    }
    .icon-menu {
        display: block;
        flex: 0 0 30px;
        height: 18px;
        position: relative;
        z-index: 5;
    }
    .icon-menu span,
    .icon-menu::before,
    .icon-menu::after {
        content: "";
        right: 0;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #fff;
        transition: all 0.3s ease 0s ;
    }
    .icon-menu::before {
        top: 0;
    }
    .icon-menu::after {
        bottom: 0;
    }
    .icon-menu span {
        top: calc(50% - 1px);
    }
    .menu-open .icon-menu span {
        width: 0;
    }
    .menu-open .icon-menu::before {
        top: calc(50% - 1px);
        transform: rotate(-45deg);
    }
    .menu-open .icon-menu::after {
        bottom: calc(50% - 1px);
        transform: rotate(45deg);
    }
    .menu__body {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: #000;
        left: -100%;
        top: 0;
        padding: 100px 15px 30px 15px;
        overflow: auto;
        transition: left 0.3s ease 0s ;
    }
    .menu__body::before {
        content: "";
        width: 100%;
        position: fixed;
        top: 0;
        left: -100%;
        height: 70px;
        background: black;
        z-index: 2;
        transition: left 0.3s ease 0s ;
    }
    .menu__list {
        row-gap: 10px;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .menu__link {
        font-size: 32px;
    }
}
@media (min-width: 768px){
    .header-main__title {
        max-width: 520px;
    }
    .header-main__text {
        max-width: 500px;
    }
    .header-main__title:not(:last-child){
        margin-bottom: 15px;
    }
    .header-main__text:not(:last-child){
        margin-bottom: 15px;
    }
}
@media (max-width: 767.98px){
    .button, .button-dark {
        /* padding: 10px 15px;
        letter-spacing: 1px;
        font-size: 13px; */
    }
    .header__container,
    .header__container {
        min-height: 70px;
    }
    .main {
        padding-top: 100px;
        padding-bottom: 30px;
    }
    .main__container {
        flex-direction: column;
    }
    .main__content {
        align-items: stretch;
    }
    .header-main__title {
        font-size: 32px;
    }
    .services {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .why {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .why__container {
        flex-direction: column-reverse;
    }
    .advantages{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .advantages__image {
        align-self:center; 
    }
    .testimonials {
        padding-top: 30px;
        padding-bottom: 50px;
    }
    .header-main__body {
        flex-direction: column;
        gap: 0;
    }
    .header-main__body .header-main__actions {
        align-self: flex-start;
    }
    .item-testimonial {
        padding: 30px 15px;
    }
    .start__title {
        font-size: 24px;
    }
    .footer__main {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .main-footer__container {
        gap: 35px;
        grid-template-columns: auto auto;
    }
    .main-footer__column:nth-child(1) {
        grid-column: span 2;
    }
    .main-footer__column:nth-child(4) {
        grid-column: span 2;
    }
    .bottom-footer {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}
.menu-open .menu__body,
.menu-open .menu__body::before{
    left: 0;
}
@media (max-width: 620px) {
    .services__items {
        flex-direction: column;
    }
    .services__column:first-child {
        padding-top: 0px;
    } 
}
@media (max-width: 650px) {
    .advantages__items {
        grid-template-columns: auto;
    }
    .advantages__value {
        /* font-size: 42px; */
    }
    /* .testimonials__items {
        grid-template-columns: auto;
    } */
}
@media (max-width: 560px) {
    .header__logo {
        width: 52px;
        overflow: hidden;
    }
    .cart-header__text {
        display: none;
    }
    .cart-header__quantity {
        width: 45px;
        height: 45px;
        border-radius: 0;
        padding: 2px;
        background: url("../img/cart.svg") center / 45px no-repeat;

    }
}
@media (max-width: 560px) {
    .header-main__actions {
        flex-direction: column;
    }
    .accordion h5 {
        font-size: 22px;
    }
}
@media (max-width: 479.98px) {
    .start__actions{
        flex-direction: column;
    }
    .login {
        flex-direction: column;
    }
}
@media (max-width: 430.98px) {
    .header__container {
        gap: 10px;
    }
    .header__language {
        display: none;
    }
}